.footer {
    bottom: 0;
    height: 100px;
    background-color: #e2eefd;
    display: flex;
    align-items: center;
    color: #555;
    padding-left: 10px;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
}